version: '3.8'
services:
  db:
    image: postgis/postgis:16-3.4
    ports:
      - "127.0.0.1:5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?POSTGRES_PASSWORD must be set}
      POSTGRES_DB: ${POSTGRES_DB:-roomshare}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
